/* static/blog/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #4CAF50;
}

.post {
    background: #fff;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post p {
    color: #666;
}
