<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
    {% load static %}  <!-- يجب أن يكون هنا -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <h1>Blog Posts</h1>
    {% for post in posts %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <p>Published by: {{ post.author.username }}</p>  <!-- عرض اسم الناشر -->
        <p>{{ post.content }}</p>
        <p>Posted on: {{ post.created_at }}</p>
    </div>
{% endfor %}

</body>
</html>
